<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/leaf-favicon.svg" type="image/x-icon">
    <title>Control de Cultivo</title>
</head>
<body class="flx-col">
    <header class="flx-row">
        <h1 class="flx-col">Primer Cultivo</h1>
        <a href="/"><img src="img/leaf-logo.svg" alt="logo"></a>
    </header>
    <section class="info-section flx-row">
        <select id="section-selector">
            <option value="0">Agregados</option>
            <option value="1">Mediciones</option>
        </select>
        <select id="">
            <option value="0">Vegetativo</option>
            <option value="1">Pre-Flora</option>
            <option value="2">Floracion</option>
        </select>
    </section>
    <form action="" class="Measure-Container flx-row">
        <div class="Add-item flx-row">
            <label for="add-0">Solo-Tek Grow</label>
            <input type="number"  id="add-0">
        </div>
        <div class="Add-item flx-row">
            <label for="add-1">Solo-Tek Bloom</label>
            <input type="number"  id="add-1">
        </div>
        <div class="Add-item flx-row">
            <label for="add-2">Vitamax Pro</label>
            <input type="number"  id="add-2">
        </div>
        <div class="Add-item flx-row">
            <label for="add-3">Monster Bud Pro</label>
            <input type="number"  id="add-3">
        </div>
        <div class="Add-item flx-row">
            <label for="add-4">Bud Fuel Pro</label>
            <input type="number"  id="add-4">
        </div>
        <div class="Add-item flx-row">
            <label for="add-5">Blossom Blaster Pro</label>
            <input type="number"  id="add-5">
        </div>
        <div class="Add-item flx-row">
            <label for="add-6">Heavy Bud Pro</label>
            <input type="number"  id="add-6">
        </div>
        <div class="Add-item flx-row">
            <label for="add-7">Monster Bloom</label>
            <input type="number"  id="add-7">
        </div>
        <div class="Add-item flx-row">
            <label for="add-8">Final Flush</label>
            <input type="number"  id="add-8">
        </div>
        <div class="Add-item flx-row">
            <label for="add-9">Micorrizas</label>
            <input type="number"  id="add-9">
        </div>
        <div class="Add-item flx-row">
            <label for="add-10">Agua Oxigenada</label>
            <input type="number"  id="add-10">
        </div>
        <div class="Add-item flx-row">
            <label for="add-11">Acido Fosforico</label>
            <input type="number"  id="add-11">
        </div>
        <div class="Add-item flx-row">
            <label for="add-12">Bicarbonato de Sodio</label>
            <input type="number"  id="add-12">
        </div>
        <input class="btn-submit" type="submit" value="ENVIAR" id="btn-submit">
    </form>
    <script src="/mediciones.js"></script>
</body>
</html>