<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/leaf-favicon.svg" type="image/x-icon">
    <title>Control de Cultivo</title>
</head>
<body class="flx-col">
    <header class="flx-row">
        <h1 class="flx-col">Primer Cultivo</h1>
        <a href="/"><img src="img/leaf-logo.svg" alt="logo"></a>
         </header>
    <section class="home-menu flx-col">
        <div class="menu flx-col">
            <span class="flx-col">
                <h3>CULTIVOS</h3>
            </span>
            <input type="checkbox" class="sub-menu-check">
            <div class="sub-menu">
                <div class="sub-item flx-col">
                    <a href="/mediciones">PRIMER CULTIVO</a>
                </div>
            </div>
        </div>
        <div class="menu flx-col">
            <span class="flx-col">
                <h3>GRAFICAS</h3>
            </span>
            <input type="checkbox" class="sub-menu-check">
            <div class="sub-menu">
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
            </div>
        </div>
        <div class="menu flx-col">
            <span class="flx-col">
                <h3>FOTOGRAFIAS</h3>
            </span>
            <input type="checkbox" class="sub-menu-check">
            <div class="sub-menu">
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
            </div>
        </div>
        <div class="menu flx-col">
            <span class="flx-col">
                <h3>CALCULADORA</h3>
            </span>
            <input type="checkbox" class="sub-menu-check">
            <div class="sub-menu">
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
            </div>
        </div>
        <div class="menu flx-col">
            <span class="flx-col">
                <h3>REFERENCIAS</h3>
            </span>
            <input type="checkbox" class="sub-menu-check">
            <div class="sub-menu">
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
            </div>
        </div>
        <div class="menu flx-col">
            <span class="flx-col">
                <h3>REGISTROS HISTORICOS</h3>
            </span>
            <input type="checkbox" class="sub-menu-check">
            <div class="sub-menu">
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
                <div class="sub-item flx-col">
                    <a href="#">SUB MENU Nº</a>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>