html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif, Arial, Helvetica;
  margin: 0;
}

*,
*::after,
*::before {
  scroll-behavior: smooth;
  box-sizing: inherit;
  text-decoration: none;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.flx-col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.flx-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #8ebfa9;
  background-image: url("../img/leaf-back-ground.svg");
  background-size: cover;
}

/* ----------------HEADER-------------- */

header {
  flex-wrap: nowrap !important;
  background-color: #052605;
  width: 100vw;
  height: 9vh;
}

header h1 {
  width: 80vw;
  height: inherit;
  font-size: 3vh;
  color: white;
  text-align: center;
}

header img {
  padding: 5px;
  padding-top: 8px;
  width: 20vw;
  height: inherit;
  max-height: 9vh;
}

/* -------------MENU STYLE----------------- */

.home-menu {
  width: 100vw;
  overflow-y: hidden;
}
.menu{
    position: relative;
    width: 100vw;
}

.sub-menu{
    width: 100vw;
    height: 0;
    transition: height 0s linear;
}

.menu span,
.menu input,
.sub-item{
    width: inherit;
    height: 8vh;
    background-color: #0d3221;
    border: 0;
    border-bottom: thin solid white;
}

.sub-item{
    background-color: #418566;
    border-bottom: thin solid #0d322160;
}

.menu span,
.sub-item a{
    width: 100vw;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 2.2vh;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.menu input{
    position: absolute;
    top: 0;
    opacity: 0
}

.sub-menu-check:checked + .sub-menu{
    height: 100%;
}
